.shangmian{
  width: 756px;
  height: 90px;
  margin: 0 0 0 0;
  border-bottom: 1px solid #D9D9DD;
}
.a1{
  height: 60px;
  width: 60px;
  color: #B5BBC2;
  font-size: 24px;
  padding-top: 0px;
  padding-left: 0px;
  line-height: 95px;
  text-decoration: none;
  position: relative;
  top: 13px;
  left: 6px;
}
.a2{
  color: #B5BBC2;
  font-size: 24px;
  padding-top: 0px;
  padding-left: 0px;
  position: relative;
  top: 0px;
  left: 98px;
  text-decoration: none;

}
.a3{
  color: rgb(0, 159, 221);
  font-size: 24px;
  position: relative;
  top: 0px;
  left: 230px;
  text-decoration: none;
}
.a4{
  color: #B5BBC2;
  font-size: 24px;
  position: relative;
  top: 0px;
  left: 364px;
  text-decoration: none;
}
.a5{
  color: #B5BBC2;
  font-size: 24px;
  position: relative;
  top: 13px;
  left: 457px;
  text-decoration: none;
}
.erbufen {
    width: 756px;
    height: 90px;
    border-bottom: 1px solid #D9D9DD;
}
.a6beijing {
    width: 200px;
    height: 50px;
    background: #00B2EE;
    position: relative;
    top: 20px;
    left: 172px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.a6 {
    font-size: 26px;
    position: relative;
    line-height: 55px;
    color: #FFF;
    text-decoration: none;
    padding-left: 75px;
}
.a7beijing {
    width: 200px;
    height: 48px;
    position: relative;
    top: -30px;
    left: 372px;
    border-style: solid;
    border-width: 1px;
    color: rgb(0, 159, 221);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.a7 {
    color: rgb(0, 159, 221);
    font-size: 24px;
    position: relative;
    text-decoration: none;
    padding-left: 75px;
    line-height: 50px;
}
.pinpai{
    width:800px;
}
li.tupian1{
    width: 150px;
    height: 150px;
    background-image: url(tu1.jpg);
    background-repeat: no-repeat;
    border-bottom: 1px solid #D9D9DD;
    border-right:1px solid #D9D9DD;
    list-style: none;
    float: left;
    position: relative;
    left: -43px;
    top: -16px;
}
li.tupian2{
    width: 150px;
    height: 150px;
    background-image: url(tu2.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid #D9D9DD;
    border-right:1px solid #D9D9DD;
    list-style: none;
    float: left;
    position: relative;
    left: -43px;
    top: -16px;
}
li.tupian3{
    width: 150px;
    height: 150px;
    background-image: url(tu3.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid #D9D9DD;
    border-right:1px solid #D9D9DD;
    list-style: none;
    float: left;
    position: relative;
    left: -43px;
    top: -16px;
}
li.tupian4{
    width: 150px;
    height: 150px;
    background-image: url(tu4.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid #D9D9DD;
    border-right:1px solid #D9D9DD;
    list-style: none;
    float: left;
    position: relative;
    left: -43px;
    top: -16px;
}
li.tupian5{
    width: 150px;
    height: 150px;
    background-image: url(tu5.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid #D9D9DD;
    border-right:1px solid #D9D9DD;
    list-style: none;
    float: left;
    position: relative;
    left: -43px;
    top: -16px;
}
li.tupian6 {
    width: 150px;
    height: 150px;
    background-image: url(tu1.jpg);
    background-repeat: no-repeat;
    border-bottom: 1px solid #D9D9DD;
    border-right:1px solid #D9D9DD;
    list-style: none;
    float: left;
    position: relative;
    left: -43px;
    top: -16px;
}
li.tupian7 {
   width: 150px;
    height: 150px;
    background-image: url(tu2.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid #D9D9DD;
    border-right:1px solid #D9D9DD;
    list-style: none;
    float: left;
    position: relative;
    left: -43px;
    top: -16px;
}
li.tupian8 {
    width: 150px;
    height: 150px;
    background-image: url(tu3.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid #D9D9DD;
    border-right:1px solid #D9D9DD;
    list-style: none;
    float: left;
    position: relative;
    left: -43px;
    top: -16px;
}
li.tupian9 {
    width: 150px;
    height: 150px;
    background-image: url(tu4.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid #D9D9DD;
    border-right:1px solid #D9D9DD;
    list-style: none;
    float: left;
    position: relative;
    left: -43px;
    top: -16px;
}
li.tupian10 {
    width: 150px;
    height: 150px;
    background-image: url(gengduo.jpg);
    background-repeat: no-repeat;
    border-bottom: 1px solid #D9D9DD;
    border-right:1px solid #D9D9DD;
    list-style: none;
    float: left;
    position: relative;
    left: -43px;
    top: -16px;
}
.tupiana1{
    color: rgba(57,57,58,1);
    left: 27px;
    position: relative;
    top: 80px;
    font-size: 20px;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(57,57,58,1);
    font-family: "Hiragino Sans GB W6";
    padding: 5px;
}
.remen {
    height: 100px;
    width: 756px;
    float:left;
}
.xinwen{
    float:left;
    position: relative;
    top: -30px;
}
.remen1{
  font-size: 22px;
  color: #858585;
  text-decoration: none;
  position: relative;
  top: 15px;
  left: 5px;
}
.remen2{
  position: relative;
  top: 15px;
  left: 510px;
  font-size: 20px;
  color: #858585;
  text-decoration: none;
}
.youmian{
  position: relative;
  top: 20px;
  left: 510px;
}
.huo1{
  position: relative;
  top: 21px;
}
div.xinwen1{
  width: 550px;
  height: 150px;
  background-image: url(xie.png);
  background-repeat: no-repeat;
  position: relative;
  top: 30px;
  padding-left: 175px;
  border-bottom: 1px solid #D9D9DD;
}
.a11{
 font-size:24px;
 color: #4A4A4A;
 position: relative;
 top: -17px;
 left: 5px;
 text-decoration: none;
}
.a12{
  font-size: 24px;
  color: #4A4A4A;
  position: relative;
  top: -20px;
  left: 5px;
  text-decoration: none;
}
.p2{
  font-size: 20px;
  color: #ABABAB;
  position: relative;
  top: -40px;
  width: 500px;
}

.you1{
  position: relative;
  top: -150px;
  left: 500px;
}
div.xinwen2{
  height: 150px;
  background-image: url(xie.png);
  background-repeat: no-repeat;
  position: relative;
  top: 45px;
  padding-left: 175px;
  font-size: 24px;
  color: #4A4A4A;
  border-bottom: 1px solid #D9D9DD;
  width: 550px;
}
.p4{
  font-size: 20px;
  color: #ABABAB;
  position: relative;
  top: -40px;
}
.you2{
  position: relative;
  top: -115px;
  left: 500px;
}
div.xinwen3{
  width: 550px;
  height: 150px;
  background-image: url(xie.png);
  background-repeat: no-repeat;
  position: relative;
  top: 58px;
  padding-left: 175px;
  font-size: 24px;
  color: #4A4A4A;
  border-bottom: 1px solid #D9D9DD;
}
.a13{
  font-size: 24px;
  color: #4A4A4A;
  position: relative;
  top: -17px;
  left: 5px;
  text-decoration: none;
}

.p6{
  font-size: 20px;
  color: #ABABAB;
  position: relative;
  top: -40px;
}
.you3{
  position: relative;
  top: -160px;
  left: 500px;
}
div.xinwen4{
  width: 550px;
  height: 150px;
  background-image: url(xie.png);
  background-repeat: no-repeat;
  position: relative;
  top: 80px;
  padding-left: 175px;
  font-size: 24px;
  color: #4A4A4A;
  border-bottom: 1px solid #D9D9DD;
}
.a14 {
    font-size: 24px;
    color: #4A4A4A;
    position: relative;
    top: -17px;
    left: 5px;
    text-decoration: none;
}
.p8{
  font-size: 20px;
  color: #ABABAB;
  position: relative;
  top: -14px;
}

.you4{
  position: relative;
  top: -115px;
  left: 500px;
}
.fen{
  position: relative;
  top: -30px;
  left: 185px;
  font-size: 20px;
  color:#FFC464;
}
.fen1{
  position: relative;
  top: -30px;
  left: 185px;
  font-size: 20px;
  color:#FFC464;
}
.fen2{
  position: relative;
  top: -30px;
  left: 185px;
  font-size: 20px;
  color:#FFC464;
}
.fen3{
  position: relative;
  top: -30px;
  left: 185px;
  font-size: 20px;
  color:#FFC464;
}
.xing1{
  position: relative;
  top: 30px;
  left: -210px;
}
.xing2 {
    position: relative;
    top: 30px;
    left: -210px;
}
.xing3 {
    position: relative;
    top: 30px;
    left: -210px;
}
.xing4 {
    position: relative;
    top: 30px;
    left: -210px;
}
.zuotu1{
  position: relative;
  top: -130px;
  left: 500px;
}
.zuotu2{
  position: relative;
  top: -130px;
  left: 500px;
}
.zuotu3{
  position: relative;
  top: -130px;
  left: 500px;
}
.zuotu4{
  position: relative;
  top: -130px;
  left: 500px;
}

body{
 font-family: "Hiragino Sans GB";
}
