.zuomian{
  width: 55px;
  height: 65px;
  background-image: url(zuo.jpg);
  background-position:10px 8px;
  margin: 20px 10px -23px 0px;
}
.span1{
 color: #00AAEA;
 margin: 20px 0px 0px 100px;
 font-size: 24px;
  padding-bottom:20px;
  border-bottom:2px solid #00AAEA;
}
.span2{
 color: #858585;
 margin: 0px 0px 0px 100px;
 font-size: 24px;
}

.span3{
 color: #858585;
 margin: 0px 0px 0px 100px;
 font-size: 24px;
}
input{
    background-color: #EFF3F6;
    margin: -47px 0 0 46px;
    background-image: url(sousuo.jpg);
    background-repeat: no-repeat;
    background-position: 10px 8px;
    padding-left: 50px;
    font-size: 24px;
    width: 540px;
    height: 66px;
    border-radius: 2px;
    border: solid 1px #eff3f6;
}
.mingzi{
  margin:20px;
}
.wenzi{
  width: 640px;
  height: 150px;
}
 .span4{
  width: 500px;
  height: 100px;
  background-image: url(zhong.jpg);
  background-repeat: no-repeat;
  background-position: -10px 24px;
  padding-left: 50px;
  font-size: 24px;
  line-height: 100px;
  margin: 0 0 0 60px;
  color: #4A4A4A;
  border-bottom: 1px solid #D9D9DD;
  border-top: 1px solid #D9D9DD;
}

.span5{
  width: 500px;
  height: 100px;
  background-image: url(zhong.jpg);
  background-repeat: no-repeat;
  background-position: -10px 24px;
  padding-left: 50px;
  font-size: 24px;
  line-height: 100px;
  margin: 0 0 0 60px;
  color: #4A4A4A;
  border-bottom: 1px solid #D9D9DD;
}
.span6{
  width: 500px;
  height: 100px;
  background-image: url(zhong.jpg);
  background-repeat: no-repeat;
  background-position: -10px 24px;
  padding-left: 50px;
  font-size: 24px;
  line-height: 100px;
  margin: 0 0 0 60px;
  color: #4A4A4A;
  border-bottom: 1px solid #D9D9DD;
}
.span7{
  width: 550px;
  height: 100px;
  font-size: 24px;
  color:#ABABAB;
  margin: 0 0 0 60px;
  text-align:center;
  border-bottom: 1px solid #D9D9DD;
  line-height: 100px;
 }
 p.quxiao {
    margin: 20px 0 0 650px;
    position: relative;
    top: -65px;
    font-size: 24px;
    color: #858585;
}
