.shangmian{
  width: 520px;
  height: 80px;
  margin: 0 0 0 0;
  border-bottom: 1px solid #D9D9DD;
}
div.sousuo{
  width: 50px;
  height: 50px;
  background-image: url(sousuo.png);
  background-repeat: no-repeat;
  position: relative;
  top: 17px;
}
div.shaitu{
  width: 50px;
  height: 50px;
  position: relative;
  top: -37px;
  left: 115px;
  font-size: 24px;
  color: #858585;
  line-height: 50px;
}
div.ceping{
  width: 50px;
  height: 50px;
  position: relative;
  top: -86px;
  left: 240px;
  font-size: 24px;
  color: #00AAEA;
  line-height: 50px;
  padding-bottom: 15px;
  border-bottom: 2px solid #00AAEA;
}
div.jianding{
  width: 50px;
  height: 50px;
  position: relative;
  top: -153px;
  left: 355px;
  font-size: 24px;
  color: #858585;
  line-height: 50px;
}
div.youxiang{
  width: 70px;
  height: 50px;
  background-image: url(youxiang.png);
  background-repeat: no-repeat;
  position: relative;
  top: -212px;
  left: 455px;
}
.erbufen{
  width: 520px;
  height: 80px;
}
div.beijing1{
  width: 130px;
  height: 40px;
  background-color: #00AAEA;
  position: relative;
  top: 25px;
  left: 130px;
}
div .ceping1{
  font-size: 24px;
  color: white;
  padding-left: 40px;
  line-height: 40px;
}
div.beijing2{
  width: 130px;
  height: 38px;
  background-color: white;
  position: relative;
  top: -15px;
  left: 260px;
  border: 1px solid #00AAEA;/* 设置边框*/
}
div .zhuangbei{
  font-size: 24px;
  color: #00AAEA;
  padding-left: 40px;
  line-height: 40px;
}
div.tupian1{
  width: 560px;
  height: 200px;
  background-image: url(tupian1.png);
  position: relative;
  top: 15px;
  left: -262px;
}
