.header{
  height:39px;
  background-color: rgba(239,243,249,0.5);
  border-bottom: 1px solid #E1E1E1;
  margin: -7px 0 0 -7px;
  line-height: 245%;
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;

}
.header1{
  width: 1200px;
  height:38px;
}
.guanzhuwomen{
  color:rgb(51,51,51);
  font-size: 12px;
  margin-left: 70px;
  text-decoration: none;
}
.xinlangweibo{
  color:rgb(51,51,51);
  font-size: 12px;
  margin-left: 5px;
  text-decoration: none;
}
.guanzhuweixin{
  color:rgb(51,51,51);
  font-size: 12px;
  margin-left: 5px;
  text-decoration: none;
  margin-right: 650px;
}
.shoujidangke{
  color:rgb(51,51,51);
  font-size: 12px;
  margin-left: 5px;
  text-decoration: none;
  margin-right: 40px;
}
.zhuce{
  color:rgb(51,51,51);
  font-size: 12px;
  margin-left: 5px;
  text-decoration: none;
  height:40px;
}
.denglu{
  color:rgb(51,51,51);
  font-size: 12px;
  margin-left: 5px;
  text-decoration: none;
}
.weixindenglu{
  color:rgb(51,51,51);
  font-size: 12px;
  margin-left: 5px;
  text-decoration: none;
}
.weibodenglu{
  color:rgb(51,51,51);
  font-size: 12px;
  margin-left: 5px;
  text-decoration: none;
}
.qqdenglu{
  color:rgb(51,51,51);
  font-size: 12px;
  margin-left: 5px;
  text-decoration: none;
}
.navigation{
  border-bottom: 1px solid #d9d9dd;
  margin-bottom: 20px;
}
.navigation1{
  width: 1190px;
  height:80px;
}
.image1{
  position: relative;
  top: 12px;
  left: 70px;
}
.image2{
  position: relative;
  top: 9px;
  left: 68px;
}
.navigation2{
  position: relative;
  top: 20px;
  font-size: 20px;
}
.shouye{
  position: relative;
  top: -40px;
  left: 300px;
  text-decoration: none;
  color: #656e73;
  padding-right: 50px;
}
.zixun{
  position: relative;
  top: -40px;
  left: 288px;
  text-decoration: none;
  color: #656e73;
  padding-right: 50px;
}
.jianding{
  position: relative;
  top: -40px;
  left: 288px;
  text-decoration: none;
  color: #656e73;
  padding-right: 50px;
}
.xieku{
  position: relative;
  top: -40px;
  left: 288px;
  text-decoration: none;
  color: #656e73;
  padding-right: 50px;
}
.shijianbiao{
  position: relative;
  top: -40px;
  left: 288px;
  text-decoration: none;
  color: #656e73;
  padding-right: 50px;
}
.luntan{
  position: relative;
  top: -40px;
  left: 288px;
  text-decoration: none;
  color: #656e73;
  padding-right: 50px;
}
.sousuokuang{
  position: relative;
  top: -40px;
  left: 350px;
  width: 250px;
  height: 30px;
}
.sousuo{
  position: relative;
  top: -40px;
  left: 307px;
  background-image: url(suosou.png);
  background-repeat: no-repeat;
}
.sousuo1{
    border-color: #a6a6a6;
    height: 34px;
    width: 50px;
    background-color: #f5f5f5;
    color: #000000;
    font-size: 14px;
    border-radius: 0px;
    text-indent: -999em;
    background-image: url(suosou.png);
    background-repeat: no-repeat;
    position: relative;
    top: -39px;
    left: 295px;
    background-position: 10px 4px;
}
.zhutu1{
  width: 800px;
  height: 400px;
  background-image: url(addis.jpg);
  margin-left: 30px;
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
.zhanshi{
  width: 360px;
  height: 400px;
  position: relative;
  top: -1px;
  left: 830px;
}
.jijiangfashou{
  color: #FFF;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  background-color: #767D87;
  padding-left: 15px;
}
.a1{
  font-size: 0.8em;
  color: #FFF;
  padding-left: 15px;
  text-decoration: none;
}
.sell-list{
  height: 365px;
  padding-top: 6px;
  overflow: hidden;
  position: relative;
  border-left: 1px solid #949CA8;
  border-right: 1px solid #949CA8;
}
.ul1{
  list-style:none;
  margin: -5px 0 0 0;
}
.li1{
    height: 70px;
    margin-bottom: 7px;
    padding-left: 15px;
    border-bottom: 1px dotted #E5E5E5;
    position: relative;
    margin: 0 0 0 -35px;
}
.li1tu1{
    position: relative;
    left: -5px;
    top: 5px;
}
.li1tu2{
    position: relative;
    left: -5px;
    top: 5px;
}

.li1tu3{
    position: relative;
    left: -5px;
    top: 5px;
}

.li1tu4{
    position: relative;
    left: -5px;
    top: 5px;
}

.li1tu5{
    position: relative;
    left: -5px;
    top: 5px;
}
.li2{
  height: 70px;
    margin-bottom: 7px;
    padding-left: 15px;
    border-bottom: 1px dotted #E5E5E5;
    position: relative;
    margin: 0 0 0 -35px;

}
.li3{
  height: 70px;
    margin-bottom: 7px;
    padding-left: 15px;
    border-bottom: 1px dotted #E5E5E5;
    position: relative;
    margin: 0 0 0 -35px;

}
.li4{
    height: 70px;
    margin-bottom: 7px;
    padding-left: 15px;
    border-bottom: 1px dotted #E5E5E5;
    position: relative;
    margin: 0 0 0 -35px;

}
.li5{
    height: 70px;
    margin-bottom: 7px;
    padding-left: 15px;
    border-bottom: 1px dotted #E5E5E5;
    position: relative;
    margin: 0 0 0 -35px;
}
.shijian1{
    position: relative;
    top: -68px;
    left: 145px;
    color: rgb(51, 51, 51);
    font-size: 10px;
    text-decoration: none;
}
.lianjie1{
    font-size: 15px;
    color: black;
    position: relative;
    top: -40px;
    left: 70px;
    text-decoration: none;
}
.shijian2{
    position: relative;
    top: -68px;
    left: 145px;
    color: rgb(51, 51, 51);
    font-size: 10px;
    text-decoration: none;
}
.lianjie2{
    font-size: 15px;
    color: black;
    position: relative;
    top: -40px;
    left: 70px;
    text-decoration: none;
}
.shijian3{
    position: relative;
    top: -68px;
    left: 145px;
    color: rgb(51, 51, 51);
    font-size: 10px;
    text-decoration: none;
}
.lianjie3{
    font-size: 15px;
    color: black;
    position: relative;
    top: -40px;
    left: 70px;
    text-decoration: none;
}
.shijian4{
    position: relative;
    top: -68px;
    left: 145px;
    color: rgb(51, 51, 51);
    font-size: 10px;
    text-decoration: none;
}
.lianjie4{
    font-size: 15px;
    color: black;
    position: relative;
    top: -40px;
    left: 70px;
    text-decoration: none;
}
.shijian5{
    position: relative;
    top: -68px;
    left: 145px;
    color: rgb(51, 51, 51);
    font-size: 10px;
    text-decoration: none;
}
.lianjie5{
    font-size: 15px;
    color: black;
    position: relative;
    top: -40px;
    left: 70px;
    text-decoration: none;
}
.xia{
    background: url(xia.png);
    width: 358px;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-indent: -999em;
}

.shenti{
     width:1300px;
     height:400px;
}
.saohuo{
    height: 36px;
    margin-bottom: 16px;
    background-color: #eff3f6;
    line-height: 38px;
    padding-right: 10px;
    position: relative;
    width: 792px;
    left: 29px;
    top: 15px;
}
.saohuolink{
    width: 150px;
    height: 36px;
    background: #00B2EE;
}
.link-a{
    background-color: #00aaea;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    position:relative;
    left: 28px;
}
.imageapp{
    position:relative;
    top:8px;
}
.appsaohuo{
   position: relative;
    top: -43px;
    left: 700px;
}
.appa1{
   color: #fbbb52;
   text-decoration: none;
}
.apptu01{
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    position: relative;
    top: -15px;
}
.apptu02{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 51px;
    left: 415px;
    background-repeat: no-repeat;
}
.shenti2{
    width: 360px;
    height: 420px;
    float: right;
    position: relative;
    top: -37px;
    left: -75px;
}
.buttomxiamian{
    width:1190px;
}
.newnv{
    width: 825px;
}
.newul{
    width: 780px;
    height: 36px;
    background-color: #eff3f6;
    position: relative;
    top: -10px;
    left: 26px;
    list-style: none;
}

.newula1{
    width:110px;
    float: left;
    text-decoration: none;
    font-size: 14px;
    line-height: 38px;
    height: 36px;
    background-color: #00aaea;
    color: #fff;
    display: block;
    position: relative;
    text-align: center;
    left: -40px;
}
.newula2{
    float: left;
    text-decoration: none;
    font-size: 14px;
    line-height: 38px;
    display: block;
    position: relative;
    text-align: center;
    color: rgb(56,56,57);
}
.newula3{
    float: left;
    text-decoration: none;
    font-size: 14px;
    line-height: 38px;
    display: block;
    position: relative;
    text-align: center;
    left: 200px;
    color: rgb(56,56,57);
}
.newula4{
    float: left;
    text-decoration: none;
    font-size: 14px;
    line-height: 38px;
    display: block;
    position: relative;
    text-align: center;
    left: 300px;
      color: rgb(56,56,57);
}
.newula5{
   float: left;
   text-decoration: none;
   font-size: 14px;
   line-height: 38px;
   display: block;
    position: relative;
    text-align: center;
    left: 15px;
      color: rgb(56,56,57);
}
.newula6{
    float: left;
    text-decoration: none;
    font-size: 14px;
    line-height: 38px;
    display: block;
    position: relative;
    text-align: center;
    left: 380px;
      color: rgb(56,56,57);

}
.newula7{
    float: left;
    text-decoration: none;
    font-size: 14px;
    line-height: 38px;
    display: block;
    position: relative;
    text-align: center;
    left: 470px;
    color: rgb(56,56,57);
}
.newbody{
   width: 825px;
   position: relative;
   top: -10px;
   left: 26px;
}
.newbody1{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 10px;
}
.newbody2{
   float: left;
   width: 240px;
   height: 250px;
   margin-left: 45px;
   margin-top: 10px;
}
.newbody3{
   float: left;
   width: 240px;
   height: 250px;
   margin-left: 45px;
   margin-top: 10px;
}
.newbody4{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
}
.newbody5{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
   margin-left: 45px;
}
.newbody6{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
   margin-left: 45px;
}
.newbody7{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
}
.newbody8{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
   margin-left: 45px;
}
.newbody9{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
   margin-left: 45px;
}
.newbody10{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
}
.newbody11{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
   margin-left: 45px;
}
.newbody12{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
   margin-left: 45px;
}
.newbody13{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
}
.newbody14{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
   margin-left: 45px;
}
.newbody15{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
   margin-left: 45px;
}
.newbody16{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
}
.newbody17{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
   margin-left: 45px;
}
.newbody18{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
   margin-left: 45px;
}
.newbody19{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
}
.newbody20{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
   margin-left: 45px;
}
.newbody21{
   float: left;
   width: 240px;
   height: 250px;
   margin-top: 20px;
   margin-left: 45px;
}
.newa1{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa2{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa3{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa4{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa5{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa6{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa7{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa8{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa9{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa10{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa11{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa12{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa13{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa14{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa15{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa16{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa17{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa18{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa19{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa20{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.newa21{
  position: relative;
  top: 185px;
  color:#262626;
  text-decoration: none;
}
.chaoliu1{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu2{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu3{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu4{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu5{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu6{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}

.chaoliu7{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu8{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu9{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu10{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu11{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu12{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu13{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu14{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu15{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu16{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu17{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu18{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu19{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu20{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.chaoliu21{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: #FB5E52;
    position: relative;
    top: 150px;
    left: 215px;
}
.newbody22{
    float: left;
    width: 810px;
    height: 30px;
    border: 1px solid #C2C6CC;
    background-color: #E2E4E8;
}
.chaoliu22{
   text-decoration: none;
   position: relative;
    top: 7px;
    left: 350px;
    color: black;
    position: relative;
}
.remen{
    width: 1200px;
    height: 200px;
    float: left;
    position: relative;
    left: 25px;
}
.remena{
    height: 38px;
    background-color: #eff3f6;
}
.remena1{
    height: 36px;
    width: 120px;
    border-bottom: none;
    background-color: #00aaea;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 180%;
}
.xiezitu{
    height: 112px;
    border: 1px solid #f4f4f4;
}
.xiezitu1{
    list-style: none;
    float: left;
    position: relative;
    left: -25px;
    top: 10px;
    width: 165px;
    height: 92px;
}
.xiezitu2{
    list-style: none;
    float: left;
    position: relative;
    left: -25px;
    top: 10px;
    width: 165px;
    height: 92px;
}

.xiezitu3{
    list-style: none;
    float: left;
    position: relative;
    left: -25px;
    top: 10px;
    width: 165px;
    height: 92px;
}
.xiezitu4{
    list-style: none;
    float: left;
    position: relative;
    left: -25px;
    top: 10px;
    width: 165px;
    height: 92px;
}
.xiezitu5{
    list-style: none;
    float: left;
    position: relative;
    left: -25px;
    top: 10px;
    width: 165px;
    height: 92px;

}
.xiezitu6{
    list-style: none;
    float: left;
    position: relative;
    left: -25px;
    top: 10px;
    width: 165px;
    height: 92px;
}
.xiezitu7{
    list-style: none;
    float: left;
    position: relative;
    left: -25px;
    top: 10px;
    width: 165px;
    height: 92px;
}
.qiaodan1{
   text-decoration: none;
   color: black;
   font-size: 13px;
   position: relative;
   left: 30px;
}
.qiaodan2{
   text-decoration: none;
   color: black;
   font-size: 13px;
    position: relative;
    left: 30px;

}
.qiaodan3{
   text-decoration: none;
   color: black;
   font-size: 13px;
    position: relative;
    left: 30px;
}
.qiaodan4{
   text-decoration: none;
   color: black;
   font-size: 13px;
   position: relative;
   left: 30px;

}
.qiaodan5{
   text-decoration: none;
   color: black;
   font-size: 13px;
    position: relative;
   left: 30px;

}
.qiaodan6{
   text-decoration: none;
   color: black;
   font-size: 13px;
    position: relative;
   left: 30px;

}
.qiaodan7{
   text-decoration: none;
   color: black;
   font-size: 13px;
   position: relative;
   left: 30px;
}
.remenpinpai{
    width: 1200px;
    height: 126px;
    float: left;
    position: relative;
    left: 25px;
}
.remenpinpai1{
    height: 38px;
    background-color: #eff3f6;
}
.remenpinpai2{
    height: 36px;
    width: 120px;
    border-bottom: none;
    background-color: #00aaea;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 180%;
}
.pinpaia{
    position: relative;
    top: -27px;
    left: 1100px;
    text-decoration: none;
    color: black;
}
.pinpaiul{
    border: 1px solid #e2e2e2;
    border-right: 0;
    width: 1193px;
    height: 74px;
}
.pinli1{
    float: left;
    width: 80px;
    height: 72px;
    list-style: none;
    border-right: #e2e2e2 1px solid;
    position: relative;
    left: -40px;
    top: 1px;
}
.pinli2{
    float: left;
    width: 80px;
    height: 72px;
    list-style: none;
    border-right: #e2e2e2 1px solid;
    position: relative;
    left: -40px;
    top: 1px;

}
.pinli3{
    float: left;
    width: 80px;
    height: 72px;
    list-style: none;
    border-right: #e2e2e2 1px solid;
    position: relative;
    left: -40px;
    top: 1px;

}
.pinli4{
    float: left;
    width: 80px;
    height: 72px;
    list-style: none;
    border-right: #e2e2e2 1px solid;
    position: relative;
    left: -40px;
    top: 1px;

}
.pinli5{
    float: left;
    width: 80px;
    height: 72px;
    list-style: none;
    border-right: #e2e2e2 1px solid;
    position: relative;
    left: -40px;
    top: 1px;

}
.pinli6{
    float: left;
    width: 80px;
    height: 72px;
    list-style: none;
    border-right: #e2e2e2 1px solid;
    position: relative;
    left: -40px;
    top: 1px;

}
.pinli7{
    float: left;
    width: 80px;
    height: 72px;
    list-style: none;
    border-right: #e2e2e2 1px solid;
    position: relative;
    left: -40px;
    top: 1px;

}
.pinli8{
    float: left;
    width: 80px;
    height: 72px;
    list-style: none;
    border-right: #e2e2e2 1px solid;
    position: relative;
    left: -40px;
    top: 1px;

}
.pinli9{
    float: left;
    width: 80px;
    height: 72px;
    list-style: none;
    border-right: #e2e2e2 1px solid;
    position: relative;
    left: -40px;
    top: 1px;

}
.pinli10{
    float: left;
    width: 80px;
    height: 72px;
    list-style: none;
    border-right: #e2e2e2 1px solid;
    position: relative;
    left: -40px;
    top: 1px;

}
.pinli11{
    float: left;
    width: 80px;
    height: 72px;
    list-style: none;
    border-right: #e2e2e2 1px solid;
    position: relative;
    left: -40px;
    top: 1px;

}
.pinli12{
    float: left;
    width: 80px;
    height: 72px;
    list-style: none;
    border-right: #e2e2e2 1px solid;
    position: relative;
    left: -40px;
    top: 1px;

}
.pinli13{
    float: left;
    width: 80px;
    height: 72px;
    list-style: none;
    border-right: #e2e2e2 1px solid;
    position: relative;
    left: -40px;
    top: 1px;

}
.pinli14{
    float: left;
    width: 80px;
    height: 72px;
    list-style: none;
    border-right: #e2e2e2 1px solid;
    position: relative;
    left: -40px;
    top: 1px;
}
.zitu1{
  position: relative;
    top: 15px;
}
.zitu2{
  position: relative;
    top: 15px;
}
.zitu3{
  position: relative;
    top: 15px;
}
.zitu4{
  position: relative;
    top: 15px;
}
.zitu5{
  position: relative;
    top: 15px;
}
.zitu6{
  position: relative;
    top: 15px;
}
.zitu7{
  position: relative;
    top: 15px;
}
.zitu8{
  position: relative;
    top: 15px;
}
.zitu9{
  position: relative;
    top: 15px;
}
.zitu10{
  position: relative;
    top: 15px;
}
.zitu11{
  position: relative;
    top: 15px;
}
.zitu12{
  position: relative;
    top: 15px;
}
.zitu13{
  position: relative;
    top: 15px;
}
.zitu14{
  position: relative;
    top: 15px;
}
.shentiwenzi{
    width: 360px;
    height: 1700px;
    position: relative;
    top: 432px;
    left: 862px;
}
.jiandingxie{
    height: 38px;
    background-color: #eff3f6;
}
.jiandingxie1{
    height: 36px;
    width: 120px;
    text-align: center;
    background-color: #00aaea;
    font-size: 20px;
    color: #fff;
    line-height: 180%;
}
.jiandingxiea1{
   position: absolute;
    top: 2px;
    left: 225px;
    text-decoration: none;
    color: black;
}
.jiandingli1{
    width: 200px;
    height: 30px;
    position: relative;
    left: -20px;
}
.daijianding1{
   width: 50px;
    height: 30px;
    background: #FF6E00;
    position: relative;
    font-size: 12px;
    top: 35px;
    left: -45px;
    font-size: 18px;
}
.addisa1{
 text-decoration: none;
 position: relative;
    left: 20px;
    color: black;
}
